$base-00: #252532;
$base-01: #4a4553;
$base-02: #6e6575;
$base-03: #928497;
$base-04: #b7a4b9;
$base-05: #dbc4da;
$base-06: #e1cde0;
$base-07: #e6d6e5;
$base-08: #b147d8;
$base-09: #c74b82;
$base-0A: #80776d;
$base-0B: #7c6db9;
$base-0C: #7373ab;
$base-0D: #8569be;
$base-0E: #6a6ae3;
$base-0F: #fbb383;


* {
  all: unset;
  color: $base-07;
}

.cpu_container {
  font-size: 24px;
}

box {
  background: transparent;
}

/* topbar */
.topbar .main {
  background-color: rgba($base-0F, 0.35);
  box-shadow: 0px 4px 2px rgba($base-0F, 0.5);
  margin: 8px;
  padding: 11px 8px;
  border-radius: 16px;
}

.topbar .main.silent {
  background-color: transparent;
  box-shadow: none;
}

.silent .center {
  background: rgba($base-01,0.35);
}

.section.silent {
  background-color: transparent;
  box-shadow: none;
}

.topbar_container.silent {
  background-color: transparent;
  box-shadow: none;
}

.topbar_container {
  margin: 6px;
  padding: 0px 12px;
  background-color: $base-02;
  border-radius: 16px;
}

.topbar_hoverbox:hover .topbar_container {
  box-shadow: 0px 0px 3px rgba($base-04, 0.5);
}

.topbar_hoverbox .topbar_container label {
  transition: color 0.1s ease-in-out;
}

.topbar_hoverbox:hover .topbar_container label {
  transition: color 0.2s ease-in-out;
  color: $base-0F;
}

.section {
  background-color: rgba($base-01, 0.5);
  box-shadow: 0px 4px 2px rgba($base-04, 0.25);
  border-radius: 16px;
  padding: 3px 12px;
  margin: 0px 8px;
}

.network {
  color: $base-03;
  text-shadow: none;
}

.network.in-use {
  color: $base-0F;
  text-shadow: 0px 2px 4px rgba($base-0F, 0.5);
}

.network_down.in-use:hover {
  text-shadow: 0px 2px 4px rgba($base-0D, 0.5);
}

.network_down.in-use {
  color: $base-0D;
  text-shadow: 0px 2px 4px rgba($base-0D, 0.5);
}

.topbar_hoverbox:hover .topbar_container label.network_down.in-use {
  color: $base-0D;
  text-shadow: 0px 2px 4px rgba($base-0D, 0.5);
}

.section.silent {
  background-color: transparent;
}

label {
  color: $base-07;
  text-shadow: 0px 0px 2px $base-05;

  font-weight: 200;
  font-size: 24px;
  font-family: "JetBrains Mono NF";
}

tooltip label {
  background: $base-00;
  border-radius: 8px;
  padding: 2px 4px;
  font-size: 12px;
  color: $base-02;
  text-shadow: none;
  margin-top: 2px;

  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-shadow: 0px 0px 2px $base-01;
}

label.workspace {
  padding-top: 12px;
  font-size: 16px;
  color: $base-05;
  text-shadow: 0px -2px 2px $base-07;
}

label.workspace.teller {
  color: $base-07;
  text-shadow: 0px 0px 2px $base-07;
}

.time label.icon {
  font-size: 32px;
}

label.icon.sunny, label.icon.afternoon {
  color: $base-0F;
  text-shadow: 0px 0px 2px $base-0F;
}

label.icon.morning, label.icon.night {
  color: $base-0C;
  text-shadow: 1px 1px 2px $base-0C;
}

label.icon.witching {
  color: $base-09;
  text-shadow: 0px 0px 2px $base-09;
}

label.icon.sunset, label.icon.moonset {
  color: $base-03;
  text-shadow: 1px 1px 2px $base-03;
}

label.icon.moonset {
  font-size: 32px;
  margin-left: 4px;
  margin-right: -4px;
}

// .slider
// .slider.value
// .slider.contents
// .slider.contents.trough
// .slider.contents.trough.slider
// .slider.contents.trough.highlight


.slider value {
  background: red;
}

.slider contents {
  background: yellow;
}

.slider contents trough {
  background: blue;
}

.slider contents trough highlight {
  background: green;
}

.slider contents trough slider {
  background: purple;
}


/* ~ just window things ~ */

.main {}

.overlay {
  background-color: rgba(darken($base-01, 75), 0.7);
}

.blur {
  background-color: darken($base-01, 75);
  opacity: 0.6;
}

.blur:active, .blur.closing {
  background-color: $base-01;
}

.blur.closing {
  transition: background-color 0.8s ease-in 0.1s;
  transition: opacity 0.8s ease-in 0.2s;
  background-color: $base-01;

  opacity: 0;
}

.inner {
    background-color: rgba($base-01, 0.8);
    box-shadow: 0px 0px 4px rgba($base-07, 0.4);
    border-radius: 8px;
}

.inner.closing {
    box-shadow: 0px 0px 4px $base-01;
}

/* poweroption */

.poweroption {
  color: $base-0A;
}

.poweroption-background {
  background: rgba(white, 0.25);
}

.poweroption label.icon {
  transition: text-shadow 0.1s ease-in;
  font-size: 24px;
}

.poweroption:hover label {
  color: $base-07;
  text-shadow: 0px 0px 2px $base-07;
}

.poweroption:active label {
  transition: font-weight 0.05s ease-in;
  font-weight: bold;
}

.poweroption.closing label {
  color: $base-0A;
}

.poweroption.power:hover label.icon,
.poweroption.power.selected label.icon {
  color: $base-09;
  text-shadow: 1px 1px 2px $base-09;
}

.poweroption.restart:hover label.icon,
.poweroption.restart.selected label.icon {
  color: $base-0B;
  text-shadow: 1px 1px 2px $base-0B;
}

.poweroption.logout:hover label.icon,
.poweroption.logout.selected label.icon
{
  color: $base-0F;
  text-shadow: 1px 1px 2px $base-0F;
}

/* power options, on close */

.poweroption.power.closing:hover label,
.poweroption.power.selected.closing label,

.poweroption.restart.closing:hover label,
.poweroption.restart.selected.closing label,

.poweroption.logout.closing:hover label,
.poweroption.logout.selected.closing label
{
  transition: color 0.1s ease-in;
  transition: text-shadow 0.05s ease-in;

  color: unset;
  text-shadow: 1px 1px 2px $base-01;
}

/* other */
.end-text {
  text-shadow: 1px 1px 8px $base-07;
  font-weight: bold;
  color: $base-07;
}

.balls {
  background: white;
  padding: 8px;
  border-radius: 50%
}

.window {
    padding: 6px;
}

