* {
  background: none;
  font-family: "Josefin Sans";
}

.topbar {
  margin-top: 12px;
}

.topbar box:not(.container) {
  background: #0A0C0C;
  opacity: 0.7;
}

.topbar box:not(.divet):not(.container) {
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px #0A0C0C;
}

.application-name {
  padding-top:4px;
  font-size: 16px;
  color: #797488;
  font-weight: 300;
  text-shadow: 0px 0px 2px #595468;
}

.application-name label {
  margin: 0px 8px;
}

.divet {
  border-radius: 2px;
  box-shadow: 0px 0px 4px 0px #0A0C0C;
}

box.time.hover label {
  font-weight: 200;
}

box.time label {
  color: #D7AFBB;
  padding-top:4px;
  text-shadow: 0px 0px 2px #797488;
  font-size: 18px;
  font-weight: 100;
}

box.greeting {
  padding: 24px;
  & > label {
      color: white;
      font-size: 24px;
  };

  & > .hello {
    font-size: 32px;
  };

  border-radius: 4px;
  background-color: rgba(0,0,0,0.75)
};

box.divider {
  margin: 2px;
  background: white;
}

.sidebar {
  border: none;
}


.appicon {
  transition: background 0.2s;
  &.active-window {
    background: rgba(225,125,125,0.5);
    color: #D7AFBB;
  }

  &.inactive-window {
    background: rgba(125,125,125,0.5);
    color: grey;
  }

  border-radius: 8px;
}

tooltip {
  opacity: 0.8;
  border: none;
}

.sidebar > box, tooltip {
  box-shadow: 0px 0px 4px 1px #0A0C0C;
  background: #0A0C0C;
  border-radius: 4px;
  margin: 6px;
  padding: 6px;
  opacity: 0.7;
}
